{% extends "base.html.twig" %}

{% block content %}
    Forschung
    {% for construction in constructions %}
        <div>{{ construction.constructible.name }} Ticks: {{ construction.ticksLeft }}</div>
    {% endfor %}
    <div class="row" style="margin-bottom: 20px">
    {% for research in researches %}
        <div class="col-md-4">
            <div class="building">
                {{ research.name }}
                {% if research.level > 0 %}
                    ({{ research.level }})
                {% endif %}
                <div>
                    {{ research.cost.wood|default('0') }}
                    {{ research.cost.iron|default('0') }}
                    {{ research.cost.stone|default('0') }}
                    {{ research.cost.coal|default('0') }}
                </div>
                <div style="text-align: center;">
                    {% if research.buildable %}
                        <a href="{{ path('do_research', {id: research.id}) }}">Stufe {{ research.level+1 }}
                            bauen</a>
                    {% else %}
                        {% if research.construction_count > 0 %}
                            Es wird bereits gebaut
                        {% elseif not research.enough_resources %}
                            Fehlende Rohstoffe
                        {% else %}
                            Fehlende Vorraussetzungen
                            {% for missing in research.missing_dependencies %}
                                {{ missing.name }} {{ missing.level }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 %}
            </div>
            <div class="row" style="margin-bottom: 20px">
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}