<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tick-Game</title>

    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

</head>
<body>
<div class="container">
    <div class="col-md-3">
        {% if app.user %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div><a href="#">{{ _player.name }}</a></div>

                    <div>
                        {{ _focused_village.village.name }}
                        ({{ _focused_village.village.x }}/{{ _focused_village.village.y }})
                    </div>

                    <div>0 Punkte</div>
                    <div>0 Nachrichten</div>

                    <a href="{{ path('logout') }}">Logout</a>
                </div>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body navi-container">
                {% if app.user %}
                    <a href="{{ path('dashboard') }}">Übersicht</a>

                    <a href="{{ path('buildings_index') }}">Gebäude</a>
                    <a href="{{ path('research_index') }}">Forschung</a>

                    <a href="{{ path('unit_index') }}">Einheiten</a>
                    <a href="{{ path('army_index') }}">Armee</a>

                    <a href="{{ path('alliance_index') }}">Allianz</a>

                    <a href="{{ path('world_index') }}">Karte</a>
                    <hr/>
                    <b>Dev</b>
                    <a href="{{ path('dev_points') }}">Punkte</a>
                    <a href="{{ path('dev_formations') }}">Formationen</a>
                    <hr/>
                {% endif %}

                <a href="{{ path('homepage') }}">News</a>
                <a href="{{ path('homepage') }}">Story</a>
                <a href="{{ path('homepage') }}">Forum</a>

                {% if not app.user %}
                    <a href="{{ path('login') }}">Login</a>
                    <a href="{{ path('login') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% if app.user %}
            <div class="panel panel-default">
                <div class="panel-body" style="padding-left: 0; padding-right: 0;">

                    <div class="container-fluid resource-container">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Holz</span>
                                <span class="form-control">{{ _focused_village.wood }}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Stein</span>
                                <span class="form-control">{{ _focused_village.stone }}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Kohle</span>
                                <span class="form-control">{{ _focused_village.coal }}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Eisen</span>
                                <span class="form-control">{{ _focused_village.iron }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body" style="padding-left: 0; padding-right: 0;">
                <div class="container-fluid">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-info">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% block content %}{% endblock %}

                </div>
            </div>

        </div>
    </div>
</div>

{% javascripts
'bundles/app/js/jquery-2.1.4.js'
'bundles/app/js/bootstrap.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block additional_scripts %}{% endblock %}

</body>
</html>