{% extends "base.html.twig" %}

{% block content %}
    Formationen
    <canvas id="formation" class="formation"></canvas>
{% endblock %}

{% block additional_scripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/formation.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}