{% extends "base.html.twig" %}

{% block content %}
<div class="container-fluid">
<div class="container">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            {% for c in constructibles %}
                {% if c.type == 'building' %}
                <li><a href="{{ path('dev_points', {'id': c.id}) }}">{{ c.name }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10">
        {% if focused is defined %}
            {{ focused.name }}

            <table class="table" style="width: 300px;">

                <tr>
                    <th colspan="5">Kosten</th>
                </tr>

                <tr>
                    <th>Stufe</th>
                    <th>Holz</th>
                    <th>Stein</th>
                    <th>Eisen</th>
                    <th>Kohle</th>
                </tr>
                {% for cost in costs %}
                    <tr>
                        <td>Stufe {{ loop.index }}</td>
                        <td>{{ cost.wood }}</td>
                        <td>{{ cost.stone }}</td>
                        <td>{{ cost.iron }}</td>
                        <td>{{ cost.coal }}</td>
                    </tr>
                {% endfor %}

            </table>
        {% endif %}
    </div>
</div>

{% endblock %}