{% extends "base.html.twig" %}

{% block content %}
    <div class="container-fluid">
        Weltkarte

        <table>
            {% for row in world %}
                <tr>
                    {% for village in row %}
                        <td style="width: 40px; height: 40px; border: 1px solid #000;">
                            {% if village != "" %}
                                xx
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}