{% extends "base.html.twig" %}

{% block content %}
    <h1>Armeen</h1>

    <div class="btn-group" style="margin-bottom: 5px;">
        <a class="btn btn-default" href="{{ path('army_create') }}">Neue Armee</a>
    </div>
    <table class="table">

        <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: center;" width="90">Einheiten</th>
            <th style="text-align: center;" width="90">Position</th>
            <th width="150">Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for army in armies %}
            <tr>
                <td><a href="{{ path('army_manage_units', {id: army.id}) }}">{{ army.name }}</a></td>
                <td style="text-align: center;">{{ army.armyHasUnits | length }}</td>
                <td style="text-align: center;">{{ army.x }}/{{ army.y }}</td>
                <td>

                    <div class="btn-group">
                        <a class="btn btn-default" href="#">
                            <span class="glyphicon glyphicon-flag"></span>
                        </a>
                        <a class="btn btn-default" href="#">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}