{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <h1>Neue Armee</h1>
        {{ form(form) }}

    </div>

{% endblock %}