{% extends "base.html.twig" %}

{% block content %}
    <div>{{ army.name }}</div>

    <div class="col-md-6">
        <h1>Stadt</h1>
        {% for unit in _focused_village.village.villageHasUnits %}
            <div>
                {{ unit.playerHasUnit.constructible.name }}
                <a style="right: 0; position: absolute;" href="{{ path('army_move_unit_to_army', {playerHasUnitId: unit.playerHasUnit.id, armyId: army.id}) }}">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-6">
        <h1>Armee</h1>
        {% for unit in army.armyHasUnits %}
            <div>
                <a href="{{ path('army_move_unit_to_village', {playerHasUnitId: unit.playerHasUnit.id, armyId: army.id}) }}">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                {{ unit.playerHasUnit.constructible.name }}
            </div>
        {% endfor %}
    </div>

{% endblock %}