.resource {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: block;
}

.resource-wood {
    background-color: #564420;
}

.resource-charcoal {
    background: #2b2b2b;
}

.resource-stone {
    background: #41443d;
}

.resource-iron {
    background: #808080;
}