{% extends "base.html.twig" %}

{% block content %}
    <h1>Einheiten</h1>
    <form action="{{ path('unit_index') }}" method="post">
        {% for unit in units %}
            <div>
                <span style="width: 150px; display: inline-block;">{{ unit.name }}</span>
                    <span style="width: 80px; display: inline-block;">
                        {{ unit.cost.wood|default('0') }}
                        {{ unit.cost.iron|default('0') }}
                        {{ unit.cost.stone|default('0') }}
                        {{ unit.cost.coal|default('0') }}
                    </span>
                <span style="width: 100px; display: inline-block;"><input name="unit_{{ unit.id }}" type="text"/></span>
            </div>
        {% endfor %}
        <button name="submit" type="submit">Trainieren</button>
    </form>
{% endblock %}