{% extends "base.html.twig" %}

{% block content %}
    Gebäude
    {% for construction in constructions %}
        <div>{{ construction.constructible.name }} Ticks: {{ construction.ticksLeft }}</div>
    {% endfor %}
    <div class="row" style="margin-bottom: 20px">
    {% for building in buildings %}
        <div class="col-md-4">
            <div class="building">
                <div>{{ building.name }}
                    {% if building.level > 0 %}
                        ({{ building.level }})
                    {% endif %}
                </div>
                <div>
                    {{ building.cost.wood|default('0') }}
                    {{ building.cost.iron|default('0') }}
                    {{ building.cost.stone|default('0') }}
                    {{ building.cost.coal|default('0') }}
                </div>
                <div style="text-align: center;">
                    {% if building.buildable %}
                        <a href="{{ path('build_building', {id: building.id}) }}">Stufe {{ building.level+1 }}
                            bauen</a>
                    {% else %}
                        {% if building.construction_count > 0 %}
                            Es wird bereits gebaut
                        {% elseif not building.enough_resources %}
                            Fehlende Rohstoffe
                        {% else %}
                            Fehlende Vorraussetzungen
                            {% for missing in building.missing_dependencies %}
                                {{ missing.name }} {{ missing.level }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 %}
            </div>
            <div class="row" style="margin-bottom: 20px">
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}