{% extends "base.html.twig" %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        <div>{{ error.message }}</div>
        {% for data in error.messageData %}
            <div>{{ data }}</div>
        {% endfor %}
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="form-signin">

        <h2 class="form-signin-heading">Bitte anmelden</h2>

        <label for="username" class="sr-only">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"
               placeholder="Benutzername" required autofocus/>

        <label for="password" class="sr-only">Password:</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Passwort" required/>

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
    </form>
{% endblock %}